body {
    max-width: 2000px;
    min-width: 350px;
}

header{
    margin-bottom: auto;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    min-height: 300px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 0;
    max-width: 1000px;
}

.container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 44fr 44fr 44fr;
    grid-template-rows: 44fr  44fr 44fr;
    height: 300px;
    width: 300px;
}

div {
    border: 5px solid black;
    cursor: pointer;
    min-width: 100px;
    min-height: 100px;
}

.winner {
    background-color: gold;
    color: red;
}

#playing {
    font-size: 50px;
    cursor: not-allowed;
    text-align: center;
    padding-top: 20px;

}

.reset-button {
    width: 100px;
    cursor: pointer;
    margin-top: 50px;
}

.reset-button:hover {
    transform: scale(1.1);
}

.end-message-lettuce {
    margin: auto;
    background-image: url(https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    font-style: bold;
}

.end-message-meat {
    margin: auto;
    background-image: url(https://images.unsplash.com/photo-1585325701165-351af916e581?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    font-style: bold;
}

@media only screen and (min-width: 390px) {
    .container {
        margin-left: 20px;
    }

    .end-message-meat, .end-message-lettuce {
       background-size: fit-content; 
    }
}