h1 {
    margin: auto;
}

header{
    display: flex;
    margin-bottom: 50px;
}

.background {
    display: grid;
    justify-items: center;
}

.container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 44fr 44fr 44fr;
    grid-template-rows: 44fr  44fr 44fr;
    height: 500px;
    width: 500px;
}

div {
    border: 5px solid black;
    cursor: pointer;
}

.winner {
    background-color: gold;
    color: red;
}

#playing {
    font-size: 100px;
    cursor: not-allowed;
    text-align: center;
    padding-top: 20px;

}

.reset-button {
    width: 100px;
    cursor: pointer;
    margin-top: 50px;
}

.reset-button:hover {
    transform: scale(1.1);
}

.end-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}